@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Monoton&family=Nunito:wght@200;800&family=Press+Start+2P&family=Righteous&display=swap");
body {
  background-color: #212529;
}

#homePageMain {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tituloHomePage {
  width: 347px;
  height: 144px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 38px;
  color: #ffffff;
}
#descriçãoHomePage {
  width: 260px;
  height: 26px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 48px;
  margin-bottom: 48px;
}

#botãoIniciar {
  width: 241px;
  height: 48px;
  background: #fd377e;
  border: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

#botãoIniciar:hover {
  background: #e34981;
}
