#Header {
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logoEscuro {
  height: 20px;
  width: 123px;
}
#logout {
  width: 74px;
  height: 50px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5b6166;
  cursor: pointer;
}
#appMain {
  display: flex;
  justify-content: center;
}

@media (max-width: 1205px) {
  #Header {
    width: 115vh;
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }
  #logout {
    margin-left: 200px;
  }

#logoEscuro{
  margin-right: 300px;
}

  #appMain {
    flex-direction: column;
  }
  #aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
  }
}
